# JOINS 

This jupyter is to join the datasets with their 
one to many notes files.

In [2]:
import string
import bz2
from os import listdir
from os.path import isfile, join
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import datetime
import nltk.corpus  
import time
import math
import re
import spacy
from functools import reduce
from nltk.text import Text
from nltk.corpus import stopwords
from itertools import combinations
from textblob import TextBlob
from textblob.sentiments import NaiveBayesAnalyzer
from textblob import TextBlob
from nltk.stem.wordnet import WordNetLemmatizer
# from keras.preprocessing import text, sequence
# from keras.utils import to_categorical
# from keras.layers import Bidirectional, GlobalMaxPool1D,GlobalMaxPool2D, GlobalMaxPool3D,Conv1D, Dense, Input, LSTM, Embedding, Dropout, Activation
# from keras.models import Model, Sequential
# from keras.callbacks import EarlyStopping, ModelCheckpoint
%matplotlib inline
plt.style.use('fivethirtyeight')

In [3]:
os.getcwd()

'C:\\Users\\t.cri.kcheung\\capstone_nlp\\src\\joins'

In [4]:
# get all files in subfolder
mypath = "Z:/FINAL OUTPUT v2/"
onlyfiles = [join(mypath,f) for f in listdir(mypath) if isfile(join(mypath, f))]

In [5]:
onlyfiles

['Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1_MOVEDFROMCOHORT2.csv',
 'Z:/FINAL OUTPUT v2/07_ENCOUNTER_SOCIAL_HX_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/09_DX_INFO_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/merged_cohort1.csv',
 'Z:/FINAL OUTPUT v2/05_ENCOUNTER_PROVIDER_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/06_ENCOUNTER_PROVIDER_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/02_PATIENT_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/merged_cohort2.csv',
 'Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_2_NEW.csv',
 'Z:/FINAL OUTPUT v2/03_ENCOUNTER_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/11_COHORT_1_RADIOLOGY.csv',
 'Z:/FINAL OUTPUT v2/08_ENCOUNTER_SOCIAL_HX_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/10_DX_INFO_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/12_COHORT_2_RADIOLOGY.csv']

# Modular

In [6]:
onlyfiles_sorted = sorted(onlyfiles, key=lambda x:(x!="PATIENT_COHORT", x))

In [7]:
onlyfiles_sorted_edit = list( onlyfiles_sorted[i] for i in [0,4,6,8,10,12] )
onlyfiles_sorted_edit

['Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/03_ENCOUNTER_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/05_ENCOUNTER_PROVIDER_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/07_ENCOUNTER_SOCIAL_HX_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/09_DX_INFO_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/11_COHORT_1_RADIOLOGY.csv']

In [13]:
frame = pd.DataFrame()
list_ = []

def readin(listoffiles,like):
    for f in listoffiles:
        if f.find(like) == -1:
            print("skipped:",f)
        else:
            print("added to list_",f)
            df = pd.read_csv(f,index_col=None, header=0,sep="|")
            df.columns = [x.lower() for x in df.columns]
            list_.append(df)
    suffix = ('_patient', '_encounter', '_encounter_provider', '_encounter_social','_dx_info','_radiology')
    for i in range(0,len(list_)):
        print("iteration number",i)
        tmp1 = pd.DataFrame(list_[i].iloc[:,0])
        print("suffix : ",suffix[i])
#         print(tmp1)
        print(list_[i].iloc[i])
        list_[i] = list_[i].iloc[:,1:].add_suffix(suffix[i])
        list_[i] = pd.concat((tmp1,(list_[i])),axis=1)
    frame = reduce(lambda x, y: pd.merge(x, y, on = 'patient_id',how="left"), list_)
    return(frame)

In [15]:
cohort1_dta = readin(onlyfiles_sorted_edit,"COHORT_1")

added to list_ Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1.csv
added to list_ Z:/FINAL OUTPUT v2/03_ENCOUNTER_COHORT_1.csv
added to list_ Z:/FINAL OUTPUT v2/05_ENCOUNTER_PROVIDER_COHORT_1.csv
added to list_ Z:/FINAL OUTPUT v2/07_ENCOUNTER_SOCIAL_HX_COHORT_1.csv
added to list_ Z:/FINAL OUTPUT v2/09_DX_INFO_COHORT_1.csv
added to list_ Z:/FINAL OUTPUT v2/11_COHORT_1_RADIOLOGY.csv
iteration number 0
suffix :  _patient
patient_id                                32124
age_at_last_encounter                        90
gender                                        F
race                                      White
ethnicity                Not Hispanic or Latino
date_of_death_d                             NaN
Name: 0, dtype: object
iteration number 1
suffix :  _encounter
patient_id                          74912
encounter_id                      5237464
enc_eio                                 O
visit_status_1                  Completed
visit_status_2                        NaN
visit_status_3                        NaN
visit_status_4                        NaN
adm_date_d        2013-06-02 00:00:00.000
disc_date_d       2013-06-02 00:00:00.000
start_date_d      2013-06-02 00:00:00.000
end_date_d        2013-06-02 00:00:00.000
admit_source_1                        NaN
admit_source_2                        NaN
admit_source_3                        NaN
disch_disp_1                          NaN
disch_disp_2                          NaN
disch_disp_3                          NaN
zip_d                              100094
enc_fin_class                    Medicare
Name: 1, dtype: object
iteration number 2
suffix :  _encounter_provider
patient_id                                    143528
encounter_id                                 4093888
admitting_prov_id                                NaN
admitting_provider_department                    NaN
attnd_prov_id                                  20141
attending_department              PULMONARY MEDICINE
referring_prov_id                              82987
referring_department             HEMATOLOGY/ONCOLOGY
Name: 2, dtype: object
iteration number 3
suffix :  _encounter_social
patient_id                                   93110
contact_date_off           2012-06-25 00:00:00.000
is_tobacco_user                                NaN
tobacco_pak_per_dy                             NaN
tobacco_used_years                             NaN
tobacco_comment                                NaN
smoking_quit_date_off                          NaN
cigarettes_yn                                    N
pipes_yn                                         N
cigars_yn                                        N
snuff_yn                                         N
chew_yn                                          N
is_alcohol_user                                NaN
alcohol_oz_per_wk                              NaN
is_ill_drug_user                               NaN
iv_drug_user_yn                                  N
illicit_drug_freq                              NaN
is_sexually_actv                               NaN
female_partner_yn                                N
male_partner_yn                                  N
condom_yn                                        N
pill_yn                                          N
diaphragm_yn                                     N
iud_yn                                           N
surgical_yn                                      N
spermicide_yn                                    N
implant_yn                                       N
rhythm_yn                                        N
injection_yn                                     N
sponge_yn                                        N
inserts_yn                                       N
abstinence_yn                                    N
years_education                                NaN
tob_src_c                                 Provider
alcohol_src_c                                  NaN
sex_src_c                                      NaN
alcohol_use_c                                  NaN
ill_drug_user_c                                NaN
sexually_active_c                              NaN
tobacco_user                                 Never
smokeless_tob_use_c                              4
smokeless_quit_date_off                        NaN
smoking_tob_use                       Never Smoker
unknown_fam_hx_yn                              NaN
smoking_start_date_off                         NaN
Name: 3, dtype: object
iteration number 4
suffix :  _dx_info
patient_id                                                 118647
encounter_id                                              6862790
dx_1                                                       786.05
dx_desc_1                                     SHORTNESS OF BREATH
dx1_rank                                                        1
dx_2                                                          311
dx_desc_2            DEPRESSIVE DISORDER NOT ELSEWHERE CLASSIFIED
dx2_rank                                                        2
dx_3                                                        710.1
dx_desc_3                                      SYSTEMIC SCLEROSIS
dx3_rank                                                        3
dx_4                                                       516.34
dx_desc_4       RESPIRATORY BRONCHIOLITIS INTERSTITIAL LUNG DI...
dx4_rank                                                        4
dx_5                                                        215.9
dx_desc_5       OTHER BENIGN NEOPLASM OF CONNECTIVE AND OTHER ...
dx5_rank                                                        5
dx_6                                                        401.9
dx_desc_6                      UNSPECIFIED ESSENTIAL HYPERTENSION
dx6_rank                                                        6
dx_7                                                          NaN
dx_desc_7                                                     NaN
dx7_rank                                                      NaN
dx_8                                                          NaN
dx_desc_8                                                     NaN
dx8_rank                                                      NaN
dx_9                                                          NaN
dx_desc_9                                                     NaN
dx9_rank                                                      NaN
dx_10                                                         NaN
dx_desc_10                                                    NaN
dx10_rank                                                     NaN
dx_11                                                         NaN
dx_desc_11                                                    NaN
dx11_rank                                                     NaN
dx_12                                                         NaN
dx_desc_12                                                    NaN
dx12_rank                                                     NaN
dx_13                                                         NaN
dx_desc_13                                                    NaN
dx13_rank                                                     NaN
Name: 4, dtype: object
iteration number 5
suffix :  _radiology
patient_id                            1955321
encounter_id                          4667101
order_proc_id_deid                     646539
ordering_date_off     2013-04-02 00:00:00.000
exam_type\t\t                 CT Chest wo\t\t
Name: 5, dtype: object

In [16]:
cohort1_dta.shape

(106212, 119)

In [17]:
cohort1_dta.head()

,patient_id,age_at_last_encounter_patient,gender_patient,race_patient,ethnicity_patient,date_of_death_d_patient,encounter_id_encounter,enc_eio_encounter,visit_status_1_encounter,visit_status_2_encounter,...,dx_12_dx_info,dx_desc_12_dx_info,dx12_rank_dx_info,dx_13_dx_info,dx_desc_13_dx_info,dx13_rank_dx_info,encounter_id_radiology,order_proc_id_deid_radiology,ordering_date_off_radiology,exam_type _radiology
0,32124,90.0,F,White,Not Hispanic or Latino,NaN,5039107,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,32124,90.0,F,White,Not Hispanic or Latino,NaN,5039107,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,32124,90.0,F,White,Not Hispanic or Latino,NaN,5039107,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,32124,90.0,F,White,Not Hispanic or Latino,NaN,5039107,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,74912,63.0,F,Black/African-American,Not Hispanic or Latino,NaN,5237464,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
cohort1_dta.encounter_id_radiology

0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9               NaN
10              NaN
11              NaN
12              NaN
13              NaN
14              NaN
15              NaN
16              NaN
17              NaN
18        6862790.0
19        6862790.0
20        6862790.0
21              NaN
22              NaN
23              NaN
24              NaN
25              NaN
26              NaN
27              NaN
28              NaN
29              NaN
            ...
106182    8425699.0
106183    8425699.0
106184    8425699.0
106185    8425699.0
106186    8425699.0
106187    8425699.0
106188    8425699.0
106189    8425699.0
106190    8425699.0
106191    8425699.0
106192    8425699.0
106193    8425699.0
106194    8425699.0
106195    8425699.0
106196    8425699.0
106197    8425699.0
106198    8425699.0
106199    8425699.0
106200    8425699.0
106201    8425699.0
106202    8425699.0
106203    8425699.0
106204    8425699.0
106205    8425699.0
106206    8425699.0
106207    8425699.0
106208    8425699.0
106209    8425699.0
106210    8425699.0
106211    8425699.0
Name: encounter_id_radiology, Length: 106212, dtype: float64

In [19]:
cohort1_dta.iloc[80000,0:]

patient_id                                                                                    1557194
age_at_last_encounter_patient                                                                      41
gender_patient                                                                                      F
race_patient                                                                     Asian/Mideast Indian
ethnicity_patient                                                              Not Hispanic or Latino
date_of_death_d_patient                                                                           NaN
encounter_id_encounter                                                                        5403357
enc_eio_encounter                                                                                   O
visit_status_1_encounter                                                                    Completed
visit_status_2_encounter                                                                          NaN
visit_status_3_encounter                                                                          NaN
visit_status_4_encounter                                                                          NaN
adm_date_d_encounter                                                          2012-06-29 00:00:00.000
disc_date_d_encounter                                                         2012-06-29 00:00:00.000
start_date_d_encounter                                                        2012-06-29 00:00:00.000
end_date_d_encounter                                                          2012-06-29 00:00:00.000
admit_source_1_encounter                                     Non-Health Care Facility Point of Origin
admit_source_2_encounter                                                                          NaN
admit_source_3_encounter                                                                          NaN
disch_disp_1_encounter                                                                            NaN
disch_disp_2_encounter                                                                            NaN
disch_disp_3_encounter                                                                            NaN
zip_d_encounter                                                                                100091
enc_fin_class_encounter                                                            Managed Care - PPO
encounter_id_encounter_provider                                                               4992137
admitting_prov_id_encounter_provider                                                              NaN
admitting_provider_department_encounter_provider                                                  NaN
attnd_prov_id_encounter_provider                                                                 2873
attending_department_encounter_provider                                              BSD EH PULMONARY
referring_prov_id_encounter_provider                                                             2873
                                                                          ...
dx_desc_5_dx_info                                                                           HYPOXEMIA
dx5_rank_dx_info                                                                                    5
dx_6_dx_info                                                                                   564.00
dx_desc_6_dx_info                                                            UNSPECIFIED CONSTIPATION
dx6_rank_dx_info                                                                                    6
dx_7_dx_info                                                                                   516.34
dx_desc_7_dx_info                                   RESPIRATORY BRONCHIOLITIS INTERSTITIAL LUNG DI...
dx7_rank_dx_info                                                                                    7
dx_8_dx_info                                                                                      NaN
dx_desc_8_dx_info                                                                                 NaN
dx8_rank_dx_info                                                                                  NaN
dx_9_dx_info                                                                                      NaN
dx_desc_9_dx_info                                                                                 NaN
dx9_rank_dx_info                                                                                  NaN
dx_10_dx_info                                                                                     NaN
dx_desc_10_dx_info                                                                                NaN
dx10_rank_dx_info                                                                                 NaN
dx_11_dx_info                                                                                     NaN
dx_desc_11_dx_info                                                                                NaN
dx11_rank_dx_info                                                                                 NaN
dx_12_dx_info                                                                                     NaN
dx_desc_12_dx_info                                                                                NaN
dx12_rank_dx_info                                                                                 NaN
dx_13_dx_info                                                                                     NaN
dx_desc_13_dx_info                                                                                NaN
dx13_rank_dx_info                                                                                 NaN
encounter_id_radiology                                                                    5.40336e+06
order_proc_id_deid_radiology                                                                   654602
ordering_date_off_radiology                                                   2012-06-29 00:00:00.000
exam_type\t\t_radiology                                                       XR Chest PA/Lateral\t\t
Name: 80000, Length: 119, dtype: object

In [20]:
cohort1_dta.columns

Index(['patient_id', 'age_at_last_encounter_patient', 'gender_patient',
       'race_patient', 'ethnicity_patient', 'date_of_death_d_patient',
       'encounter_id_encounter', 'enc_eio_encounter',
       'visit_status_1_encounter', 'visit_status_2_encounter',
       ...
       'dx_12_dx_info', 'dx_desc_12_dx_info', 'dx12_rank_dx_info',
       'dx_13_dx_info', 'dx_desc_13_dx_info', 'dx13_rank_dx_info',
       'encounter_id_radiology', 'order_proc_id_deid_radiology',
       'ordering_date_off_radiology', 'exam_type\t\t_radiology'],
      dtype='object', length=119)

### Prior to loading in lets check for j84 in part 2

In [8]:
onlyfiles_sorted[11]

'Z:/FINAL OUTPUT v2/10_DX_INFO_COHORT_2.csv'

In [9]:
cohort2_icd_check = pd.read_csv(onlyfiles_sorted[11],sep="|")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (98,110,113,116,117,119,120,122,123,125,126,128,129,131,132,134,135,137,138,140,141,143,144,146,147,149,150,152,153,155,156,158,159,161,162,164,165,167,168,170,171,173,174,176,177,179,180,182,183,185,186,188,189,191,192,194,195,197,198,200,201,203,204,206,207,209,210,212,213,215,216,218,219,221,222,224,225,227,228,230,231,233,234,236,237,239,240,242,243,245,246,248,249,251,252,254,255,257,258) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
# get list of columns with dx
dx_cols = [col for col in cohort2_icd_check.columns if 'dx_' in col]
dx_cols[0]

'dx_1'

In [11]:
# all icd codes list
icd_codes_list = ['495','4951','4952','4953','4954','4955','4956','4957','4958','4959','496','515','517','5171','5172','5173','5178','516','5160','5161','5162','5163','51630','51631','51632','51633','51634','51635','51636','51637','5164','5165','5166','51661','51662','51663','51664','51669','5168','5169','J670','J671','J672','J673','J674','J675','J676','J677','J678','J679','J6710','J8410','J8489','J17','M3481','J99','J8401','J8402','J8403','J84111','J84112','J84113','J84114','J84115','J84116','J84117','J8481','J8482','J8483','J84841','J84842','J84843','J84844','J84845','J84848','J8409','J849']
pattern = '|'.join(icd_codes_list)

In [12]:
# extract all
icd_subset = []

for col in dx_cols:
#     print(col)
    tmpdf = cohort2_icd_check[cohort2_icd_check[col].str.contains(pattern,na=False)]
    icd_subset.append(tmpdf)
# print(icd_subset)

In [13]:
icd_subset_df = icd_subset[0]

In [15]:
len(np.unique(icd_subset_df.PATIENT_ID))

2243

# Now i have all the patients with the relevant icd codes. Around 2k unique of them.

We need to extract all of the relevant records into their own df. Let's tweak the merging into just those of which that are in the lsit of patients.

In [16]:
onlyfiles_sorted

['Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1_MOVEDFROMCOHORT2.csv',
 'Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_2_NEW.csv',
 'Z:/FINAL OUTPUT v2/02_PATIENT_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/03_ENCOUNTER_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/05_ENCOUNTER_PROVIDER_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/06_ENCOUNTER_PROVIDER_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/07_ENCOUNTER_SOCIAL_HX_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/08_ENCOUNTER_SOCIAL_HX_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/09_DX_INFO_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/10_DX_INFO_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/11_COHORT_1_RADIOLOGY.csv',
 'Z:/FINAL OUTPUT v2/12_COHORT_2_RADIOLOGY.csv',
 'Z:/FINAL OUTPUT v2/merged_cohort1.csv',
 'Z:/FINAL OUTPUT v2/merged_cohort2.csv']

In [26]:
cohort2move = pd.read_csv(onlyfiles_sorted[3],sep="|")
cohort2move.head()

,PATIENT_ID,AGE_AT_LAST_ENCOUNTER,gender,race,ETHNICITY,DATE_OF_DEATH_D
0,49,79.0,M,White,Not Hispanic or Latino,NaN
1,99,86.0,F,White,Not Hispanic or Latino,NaN
2,104,84.0,M,White,Not Hispanic or Latino,NaN
3,114,66.0,F,White,Not Hispanic or Latino,NaN
4,118,92.0,F,Black/African-American,Not Hispanic or Latino,NaN

In [18]:
cohort2movedf = cohort2move[cohort2move.PATIENT_ID.isin(icd_subset_df.PATIENT_ID)]

In [19]:
cohort2movedf.to_csv(join(mypath,"01_PATIENT_COHORT_1_MOVEDFROMCOHORT2.csv"),sep="|",index=False)

### Prior to loading in the second cohort let's randomly sample in 10k rows

In [32]:
cohort2move.head()

NameError: name 'cohort2move' is not defined

In [28]:
cohort2removeddf = cohort2move[~cohort2move.PATIENT_ID.isin(icd_subset_df.PATIENT_ID)]

In [29]:
cohort2sampdf = cohort2removeddf.sample(n=30000,random_state=10,replace=False)
cohort2sampdf.shape

(30000, 6)

In [271]:
cohort2sampdf.to_csv(join(mypath,"01_PATIENT_COHORT_2_NEW.csv"),sep="|",index=False)

In [31]:
del cohort2move, cohort2_icd_check,cohort2move

NameError: name 'cohort2_icd_check' is not defined

# Next step we need to create a join list with just the ids in moved from cohort2 set

Then we can merge them into a consolidated cohort1

In [33]:
# quick mem check
import sys

# These are the usual ipython objects, including this one you are creating
ipython_vars = ['In', 'Out', 'exit', 'quit', 'get_ipython', 'ipython_vars']

# Get a sorted list of the objects and their sizes
sorted([(x, sys.getsizeof(globals().get(x))) for x in dir() if not x.startswith('_') and x not in sys.modules and x not in ipython_vars], key=lambda x: x[1], reverse=True)

[('cohort2removeddf', 32042224),
 ('icd_subset_df', 25088644),
 ('cohort2sampdf', 8145564),
 ('cohort2movedf', 611123),
 ('dx_cols', 1448),
 ('icd_subset', 1448),
 ('NaiveBayesAnalyzer', 1056),
 ('Text', 1056),
 ('TextBlob', 1056),
 ('WordNetLemmatizer', 1056),
 ('icd_codes_list', 680),
 ('pattern', 476),
 ('combinations', 400),
 ('onlyfiles_sorted', 256),
 ('onlyfiles', 192),
 ('onlyfiles_sorted_edit', 160),
 ('isfile', 136),
 ('join', 136),
 ('mypath', 108),
 ('np', 80),
 ('pd', 80),
 ('plt', 80),
 ('sns', 80),
 ('listdir', 72),
 ('reduce', 72),
 ('col', 59),
 ('stopwords', 56),
 ('tmpdf', 24)]

In [34]:
onlyfiles2 = [join(mypath,f) for f in listdir(mypath) if isfile(join(mypath, f))]

In [35]:
onlyfiles2

['Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1_MOVEDFROMCOHORT2.csv',
 'Z:/FINAL OUTPUT v2/07_ENCOUNTER_SOCIAL_HX_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/09_DX_INFO_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/merged_cohort1.csv',
 'Z:/FINAL OUTPUT v2/05_ENCOUNTER_PROVIDER_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/06_ENCOUNTER_PROVIDER_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/02_PATIENT_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/merged_cohort2.csv',
 'Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_2_NEW.csv',
 'Z:/FINAL OUTPUT v2/03_ENCOUNTER_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/11_COHORT_1_RADIOLOGY.csv',
 'Z:/FINAL OUTPUT v2/08_ENCOUNTER_SOCIAL_HX_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/10_DX_INFO_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/12_COHORT_2_RADIOLOGY.csv']

In [36]:
onlyfiles2edit = list( onlyfiles2[i] for i in [0, 6, 7, 13,14,15] )
# onlyfiles2edit = list( onlyfiles2[i] for i in [0,15] )

In [37]:
onlyfiles2edit

['Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1_MOVEDFROMCOHORT2.csv',
 'Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/06_ENCOUNTER_PROVIDER_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/08_ENCOUNTER_SOCIAL_HX_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/10_DX_INFO_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/12_COHORT_2_RADIOLOGY.csv']

In [38]:
# test
def test(listoffiles,like,patientids):
    for f in listoffiles:
        if f.find(like) == -1:
            print("skipped:",f)
        else:
            print("added to list_",f)
            df = pd.read_csv(f,index_col=None, header=0,sep="|")
            df.columns = [x.lower() for x in df.columns]
            df = df[df['patient_id'].isin(patientids)]
            return(df)

In [39]:
patientlist = [114]

In [40]:
test(onlyfiles2edit,"COHORT",patientlist)

added to list_ Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1_MOVEDFROMCOHORT2.csv

,patient_id,age_at_last_encounter,gender,race,ethnicity,date_of_death_d
0,114,66.0,F,White,Not Hispanic or Latino,NaN

### Edited fx

For mem purposes let's amend each read in to be just where it matches the patient id string

In [41]:
patientlist = np.unique(icd_subset_df['PATIENT_ID'])
patientlist[0:5]

array([ 114,  431,  672, 1408, 1549], dtype=int64)

In [44]:
frame = pd.DataFrame()
list_ = []

def readin_select(listoffiles,like,patientids):
    for f in listoffiles:
        if f.find(like) == -1:
            print("skipped:",f)
        else:
            print("added to list_",f)
            df = pd.read_csv(f,index_col=None, header=0,sep="|")
            df.columns = [x.lower() for x in df.columns]
            df = df[df['patient_id'].isin(patientlist)]
            list_.append(df)

In [45]:
readin_select(onlyfiles2edit,"COHORT",patientlist)

added to list_ Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1_MOVEDFROMCOHORT2.csv
added to list_ Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2856: DtypeWarning: Columns (6,13,16) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

added to list_ Z:/FINAL OUTPUT v2/06_ENCOUNTER_PROVIDER_COHORT_2.csv

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2856: DtypeWarning: Columns (2,6) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

added to list_ Z:/FINAL OUTPUT v2/08_ENCOUNTER_SOCIAL_HX_COHORT_2.csv
added to list_ Z:/FINAL OUTPUT v2/10_DX_INFO_COHORT_2.csv

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2856: DtypeWarning: Columns (98,110,113,116,117,119,120,122,123,125,126,128,129,131,132,134,135,137,138,140,141,143,144,146,147,149,150,152,153,155,156,158,159,161,162,164,165,167,168,170,171,173,174,176,177,179,180,182,183,185,186,188,189,191,192,194,195,197,198,200,201,203,204,206,207,209,210,212,213,215,216,218,219,221,222,224,225,227,228,230,231,233,234,236,237,239,240,242,243,245,246,248,249,251,252,254,255,257,258) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

added to list_ Z:/FINAL OUTPUT v2/12_COHORT_2_RADIOLOGY.csv

In [46]:
list_[0].iloc[1:5,:]

,patient_id,age_at_last_encounter,gender,race,ethnicity,date_of_death_d
1,431,88.0,F,Black/African-American,Not Hispanic or Latino,NaN
2,672,80.0,M,Asian/Mideast Indian,Not Hispanic or Latino,NaN
3,1408,84.0,F,Black/African-American,Not Hispanic or Latino,NaN
4,1549,80.0,F,Black/African-American,Not Hispanic or Latino,NaN

In [56]:
list_[5].iloc[1:5,:]

,patient_id,encounter_id,order_proc_id_deid,ordering_date_off,exam_type
26,1766157,3759747,1002716,2012-11-28 00:00:00.000,CT Chest & Upper Abdomen w
53,1380083,3938864,800327,2012-10-24 00:00:00.000,CT Upper Abdomen & Pelvis w
62,1366083,3939557,737500,2013-06-21 00:00:00.000,CT Chest & Upper Abdomen w
63,1366083,3939557,1260359,2013-06-21 00:00:00.000,CT Chest & Upper Abdomen w

In [47]:
len(list_[5])

59663

In [58]:
# spot check on patient ids 
list_[5][list_[5].patient_id==1408]
list_[0][list_[0].patient_id==1380083]

,patient_id,age_at_last_encounter,gender,race,ethnicity,date_of_death_d
879,1380083,65.0,F,Black/African-American,Not Hispanic or Latino,2014-10-13 00:00:00.000

# Correctly appending in function

Let's now see if we can use dask to improve the join functionality of the other datasets given memory issues.

In [59]:
import dask.dataframe as dd
from dask.diagnostics import ProgressBar
pbar = ProgressBar()
pbar.register()

df1 = list_[0]
df2 = list_[5]

In [60]:
print(df1.head())
print(len(df1))

   patient_id  age_at_last_encounter gender                    race  \
0         114                   66.0      F                   White
1         431                   88.0      F  Black/African-American
2         672                   80.0      M    Asian/Mideast Indian
3        1408                   84.0      F  Black/African-American
4        1549                   80.0      F  Black/African-American

                ethnicity date_of_death_d
0  Not Hispanic or Latino             NaN
1  Not Hispanic or Latino             NaN
2  Not Hispanic or Latino             NaN
3  Not Hispanic or Latino             NaN
4  Not Hispanic or Latino             NaN
2243

In [61]:
print(df2.head())
print(len(df2))

    patient_id  encounter_id  order_proc_id_deid        ordering_date_off  \
25     1766157       3759747              706804  2012-11-28 00:00:00.000
26     1766157       3759747             1002716  2012-11-28 00:00:00.000
53     1380083       3938864              800327  2012-10-24 00:00:00.000
62     1366083       3939557              737500  2013-06-21 00:00:00.000
63     1366083       3939557             1260359  2013-06-21 00:00:00.000

                      exam_type
25   CT Chest & Upper Abdomen w
26   CT Chest & Upper Abdomen w
53  CT Upper Abdomen & Pelvis w
62   CT Chest & Upper Abdomen w
63   CT Chest & Upper Abdomen w
59663

In [62]:
mergetest = dd.merge(df1, df2, how='outer', on=['patient_id'])

In [63]:
mergetest

,patient_id,age_at_last_encounter,gender,race,ethnicity,date_of_death_d,encounter_id,order_proc_id_deid,ordering_date_off,exam_type
0,114,66.0,F,White,Not Hispanic or Latino,NaN,4645531,856883,2013-08-22 00:00:00.000,XR Chest PA/Lateral
1,114,66.0,F,White,Not Hispanic or Latino,NaN,5066736,685083,2013-08-22 00:00:00.000,XR Chest PA/Lateral
2,114,66.0,F,White,Not Hispanic or Latino,NaN,5066736,719735,2013-08-22 00:00:00.000,XR Chest PA/Lateral
3,114,66.0,F,White,Not Hispanic or Latino,NaN,5097355,973439,2014-01-11 00:00:00.000,XR Chest PA/Lateral
4,114,66.0,F,White,Not Hispanic or Latino,NaN,6214618,852596,2014-06-22 00:00:00.000,CT Chest wo
5,114,66.0,F,White,Not Hispanic or Latino,NaN,6221749,691513,2014-12-06 00:00:00.000,XR Chest PA/Lateral
6,114,66.0,F,White,Not Hispanic or Latino,NaN,6221749,993450,2014-12-06 00:00:00.000,XR Chest PA/Lateral
7,114,66.0,F,White,Not Hispanic or Latino,NaN,6265020,597997,2014-01-11 00:00:00.000,XR Chest PA/Lateral
8,114,66.0,F,White,Not Hispanic or Latino,NaN,6265020,1028470,2014-01-11 00:00:00.000,XR Chest PA/Lateral
9,114,66.0,F,White,Not Hispanic or Latino,NaN,6747726,884699,2014-06-28 00:00:00.000,CT Chest wo
10,114,66.0,F,White,Not Hispanic or Latino,NaN,6747726,1280256,2014-06-28 00:00:00.000,CT Chest wo
11,114,66.0,F,White,Not Hispanic or Latino,NaN,7160379,1363180,2014-12-06 00:00:00.000,XR Chest PA/Lateral
12,114,66.0,F,White,Not Hispanic or Latino,NaN,8413485,351492,2016-08-27 00:00:00.000,"CT Angio Upper Extremity wwo, Lt"
13,114,66.0,F,White,Not Hispanic or Latino,NaN,8413485,1445308,2016-08-27 00:00:00.000,CT Angio Chest wwo
14,114,66.0,F,White,Not Hispanic or Latino,NaN,9235183,1066104,2017-04-24 00:00:00.000,CT Chest Low Dose Cancer Screening WO
15,114,66.0,F,White,Not Hispanic or Latino,NaN,9494644,354743,2017-09-01 00:00:00.000,CT Chest wo
16,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,518948,2017-07-20 00:00:00.000,"XR Portable Chest, 1 View"
17,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,519309,2017-07-20 00:00:00.000,"XR Port Chest, 1 View"
18,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,615980,2017-07-12 00:00:00.000,"XR Port Chest, 1 View"
19,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,630992,2017-06-29 00:00:00.000,CT PE Chest w
20,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,640493,2017-07-07 00:00:00.000,"XR Port Chest, 1 View"
21,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,652605,2017-07-12 00:00:00.000,"XR Port Chest, 1 View"
22,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,732678,2017-07-05 00:00:00.000,"XR Port Chest, 1 View"
23,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,898546,2017-07-03 00:00:00.000,"XR Port Chest, 1 View"
24,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,900467,2017-06-29 00:00:00.000,CT PE Chest w
25,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,929338,2017-07-13 00:00:00.000,CT Chest wo
26,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,945319,2017-07-03 00:00:00.000,"XR Port Chest, 1 View"
27,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,981963,2017-07-16 00:00:00.000,"XR Port Chest, 1 View"
28,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,1009364,2017-07-13 00:00:00.000,CT Chest wo
29,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,1025343,2017-07-20 00:00:00.000,"XR Portable Chest, 1 View"
...,...,...,...,...,...,...,...,...,...,...
59633,2740460,40.0,M,White,Not Hispanic or Latino,NaN,11657247,1238113,2018-07-14 00:00:00.000,IOE COM CT ANG CHEST
59634,2740460,40.0,M,White,Not Hispanic or Latino,NaN,12529024,1365030,2018-09-09 00:00:00.000,CT Chest wo
59635,2740460,40.0,M,White,Not Hispanic or Latino,NaN,12529024,1390748,2018-09-09 00:00:00.000,CT Chest wo
59636,2740460,40.0,M,White,Not Hispanic or Latino,NaN,12584673,213630,2018-11-09 00:00:00.000,CT Chest wo
59637,2740460,40.0,M,White,Not Hispanic or Latino,NaN,12584673,281783,2018-10-31 00:00:00.000,"XR Portable Chest, 1View"
59638,2740460,40.0,M,White,Not Hispanic or Latino,NaN,12584673,380540,2018-11-02 00:00:00.000,CT Upper Abdomen & Pelvis w
59639,2740460,40.0,M,White,Not Hispanic or Latino,NaN,12584673,566268,2018-11-02 00:00:00.000,CT Upper Abdomen & Pelvis w
59640,2740460,40.0,M,White,Not Hispanic or Latino,NaN,12584673,783714,2018-10-31 00:00:00.000,XR Chest PA/Lateral
59641,2740460,40.0,M,White,Not Hispanic or Latino,NaN,12584673,1018977,2018-10-31 00:00:00.000,XR Chest PA/Lateral
59642,2740460,40.0,M,White,Not Hispanic or Latino,NaN,12584673,1224385,2018-10-31 00:00:00.000,"XR Portable Chest, 1View"
59643,2779581,74.0,M,White,Not Hispanic or Latino,NaN,12521405,482014,2017-12-07 00:00:00.000,CT Chest wo
59644,2779581,74.0,M,White,Not Hispanic or Latino,NaN,12521405,933730,2017-12-07 00:00:00.000,CT Chest wo
59645,2779581,74.0,M,White,Not Hispanic or Latino,NaN,12580704,1355835,2017-12-02 00:00:00.000,CT Chest wo
59646,2849686,56.0,M,Black/African-American,Not Hispanic or Latino,NaN,12234386,724082,2018-09-09 00:00:00.000,XR Chest PA/Lateral
59647,2849686,56.0,M,Black/African-American,Not Hispanic or Latino,NaN,12234386,782976,2018-09-09 00:00:00.000,XR Chest PA/Lateral
59648,2849686,56.0,M,Black/African-American,Not Hispanic or Latino,NaN,12234386,1288252,2018-09-09 00:00:00.000,XR Chest PA/Lateral
59649,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12269769,583492,2018-10-17 00:00:00.000,CT Chest wo
59650,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12269769,704238,2018-10-17 00:00:00.000,CT Chest wo
59651,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12269769,775072,2018-10-16 00:00:00.000,IOE COM CT CHEST
59652,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12269769,848263,2018-10-16 00:00:00.000,IOE COM XR CHEST
59653,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12269769,1009092,2018-10-16 00:00:00.000,IOE COM CT ANG CHEST
59654,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12269769,1075162,2018-10-16 00:00:00.000,IOE COM CT CHEST
59655,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12269769,1165291,2018-10-16 00:00:00.000,IOE COM CT ANG CHEST
59656,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12269769,1314416,2018-10-14 00:00:00.000,"XR Port Chest, 1 View"
59657,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12269769,1315519,2018-10-14 00:00:00.000,"XR Port Chest, 1 View"
59658,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12269769,1349234,2018-10-16 00:00:00.000,IOE COM XR CHEST
59659,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12345049,65973,2018-11-15 00:00:00.000,XR Chest PA/Lateral
59660,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12345049,561872,2018-11-16 00:00:00.000,CT Chest wo
59661,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12345049,985122,2018-11-15 00:00:00.000,XR Chest PA/Lateral
59662,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12345049,1002284,2018-11-16 00:00:00.000,CT Chest wo

Let's redo the function now with the dd read in and merge.

In [89]:
frame = pd.DataFrame()
list_ = []

def readin_select_full(listoffiles,like,patientids):
    for f in listoffiles:
        if f.find(like) == -1:
            print("skipped:",f)
        else:
            print("added to list_",f)
            df = pd.read_csv(f,index_col=None, header=0,sep="|")
            df.columns = [x.lower() for x in df.columns]
            df = df[df['patient_id'].isin(patientlist)].dropna(axis='columns',how='all')
            list_.append(df)
#     suffix = ('_patient', '_encounter', '_encounter_provider', '_encounter_social','_dx_info','_radiology')
    suffix = ('_patient','_radiology')
    for i in range(0,len(list_)):
        print("iteration number",i)
        tmp1 = pd.DataFrame(list_[i].iloc[:,0])
        print("suffix : ",suffix[i])
        list_[i] = list_[i].iloc[:,1:].add_suffix(suffix[i])
        list_[i] = pd.concat((tmp1,(list_[i])),axis=1)
#     frame = reduce(lambda x, y: pd.merge(x, y, on = 'patient_id',how="left"), list_)
    frame = reduce(lambda x, y: dd.merge(x, y, on = ['patient_id'],how="left"), list_)
    print(len(frame))
    return(frame)

In [69]:
onlyfiles3edit = list( onlyfiles2[i] for i in [0,15] )
onlyfiles3edit

['Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1_MOVEDFROMCOHORT2.csv',
 'Z:/FINAL OUTPUT v2/12_COHORT_2_RADIOLOGY.csv']

In [74]:
readin_select_full(onlyfiles3edit,"COHORT",patientlist)

added to list_ Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1_MOVEDFROMCOHORT2.csv
added to list_ Z:/FINAL OUTPUT v2/12_COHORT_2_RADIOLOGY.csv
iteration number 0
suffix :  _patient
iteration number 1
suffix :  _radiology
59663

,patient_id,age_at_last_encounter_patient,gender_patient,race_patient,ethnicity_patient,date_of_death_d_patient,encounter_id_radiology,order_proc_id_deid_radiology,ordering_date_off_radiology,exam_type_radiology
0,114,66.0,F,White,Not Hispanic or Latino,NaN,4645531,856883,2013-08-22 00:00:00.000,XR Chest PA/Lateral
1,114,66.0,F,White,Not Hispanic or Latino,NaN,5066736,685083,2013-08-22 00:00:00.000,XR Chest PA/Lateral
2,114,66.0,F,White,Not Hispanic or Latino,NaN,5066736,719735,2013-08-22 00:00:00.000,XR Chest PA/Lateral
3,114,66.0,F,White,Not Hispanic or Latino,NaN,5097355,973439,2014-01-11 00:00:00.000,XR Chest PA/Lateral
4,114,66.0,F,White,Not Hispanic or Latino,NaN,6214618,852596,2014-06-22 00:00:00.000,CT Chest wo
5,114,66.0,F,White,Not Hispanic or Latino,NaN,6221749,691513,2014-12-06 00:00:00.000,XR Chest PA/Lateral
6,114,66.0,F,White,Not Hispanic or Latino,NaN,6221749,993450,2014-12-06 00:00:00.000,XR Chest PA/Lateral
7,114,66.0,F,White,Not Hispanic or Latino,NaN,6265020,597997,2014-01-11 00:00:00.000,XR Chest PA/Lateral
8,114,66.0,F,White,Not Hispanic or Latino,NaN,6265020,1028470,2014-01-11 00:00:00.000,XR Chest PA/Lateral
9,114,66.0,F,White,Not Hispanic or Latino,NaN,6747726,884699,2014-06-28 00:00:00.000,CT Chest wo
10,114,66.0,F,White,Not Hispanic or Latino,NaN,6747726,1280256,2014-06-28 00:00:00.000,CT Chest wo
11,114,66.0,F,White,Not Hispanic or Latino,NaN,7160379,1363180,2014-12-06 00:00:00.000,XR Chest PA/Lateral
12,114,66.0,F,White,Not Hispanic or Latino,NaN,8413485,351492,2016-08-27 00:00:00.000,"CT Angio Upper Extremity wwo, Lt"
13,114,66.0,F,White,Not Hispanic or Latino,NaN,8413485,1445308,2016-08-27 00:00:00.000,CT Angio Chest wwo
14,114,66.0,F,White,Not Hispanic or Latino,NaN,9235183,1066104,2017-04-24 00:00:00.000,CT Chest Low Dose Cancer Screening WO
15,114,66.0,F,White,Not Hispanic or Latino,NaN,9494644,354743,2017-09-01 00:00:00.000,CT Chest wo
16,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,518948,2017-07-20 00:00:00.000,"XR Portable Chest, 1 View"
17,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,519309,2017-07-20 00:00:00.000,"XR Port Chest, 1 View"
18,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,615980,2017-07-12 00:00:00.000,"XR Port Chest, 1 View"
19,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,630992,2017-06-29 00:00:00.000,CT PE Chest w
20,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,640493,2017-07-07 00:00:00.000,"XR Port Chest, 1 View"
21,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,652605,2017-07-12 00:00:00.000,"XR Port Chest, 1 View"
22,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,732678,2017-07-05 00:00:00.000,"XR Port Chest, 1 View"
23,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,898546,2017-07-03 00:00:00.000,"XR Port Chest, 1 View"
24,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,900467,2017-06-29 00:00:00.000,CT PE Chest w
25,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,929338,2017-07-13 00:00:00.000,CT Chest wo
26,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,945319,2017-07-03 00:00:00.000,"XR Port Chest, 1 View"
27,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,981963,2017-07-16 00:00:00.000,"XR Port Chest, 1 View"
28,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,1009364,2017-07-13 00:00:00.000,CT Chest wo
29,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,1025343,2017-07-20 00:00:00.000,"XR Portable Chest, 1 View"
...,...,...,...,...,...,...,...,...,...,...
59633,2740460,40.0,M,White,Not Hispanic or Latino,NaN,11657247,1238113,2018-07-14 00:00:00.000,IOE COM CT ANG CHEST
59634,2740460,40.0,M,White,Not Hispanic or Latino,NaN,12529024,1365030,2018-09-09 00:00:00.000,CT Chest wo
59635,2740460,40.0,M,White,Not Hispanic or Latino,NaN,12529024,1390748,2018-09-09 00:00:00.000,CT Chest wo
59636,2740460,40.0,M,White,Not Hispanic or Latino,NaN,12584673,213630,2018-11-09 00:00:00.000,CT Chest wo
59637,2740460,40.0,M,White,Not Hispanic or Latino,NaN,12584673,281783,2018-10-31 00:00:00.000,"XR Portable Chest, 1View"
59638,2740460,40.0,M,White,Not Hispanic or Latino,NaN,12584673,380540,2018-11-02 00:00:00.000,CT Upper Abdomen & Pelvis w
59639,2740460,40.0,M,White,Not Hispanic or Latino,NaN,12584673,566268,2018-11-02 00:00:00.000,CT Upper Abdomen & Pelvis w
59640,2740460,40.0,M,White,Not Hispanic or Latino,NaN,12584673,783714,2018-10-31 00:00:00.000,XR Chest PA/Lateral
59641,2740460,40.0,M,White,Not Hispanic or Latino,NaN,12584673,1018977,2018-10-31 00:00:00.000,XR Chest PA/Lateral
59642,2740460,40.0,M,White,Not Hispanic or Latino,NaN,12584673,1224385,2018-10-31 00:00:00.000,"XR Portable Chest, 1View"
59643,2779581,74.0,M,White,Not Hispanic or Latino,NaN,12521405,482014,2017-12-07 00:00:00.000,CT Chest wo
59644,2779581,74.0,M,White,Not Hispanic or Latino,NaN,12521405,933730,2017-12-07 00:00:00.000,CT Chest wo
59645,2779581,74.0,M,White,Not Hispanic or Latino,NaN,12580704,1355835,2017-12-02 00:00:00.000,CT Chest wo
59646,2849686,56.0,M,Black/African-American,Not Hispanic or Latino,NaN,12234386,724082,2018-09-09 00:00:00.000,XR Chest PA/Lateral
59647,2849686,56.0,M,Black/African-American,Not Hispanic or Latino,NaN,12234386,782976,2018-09-09 00:00:00.000,XR Chest PA/Lateral
59648,2849686,56.0,M,Black/African-American,Not Hispanic or Latino,NaN,12234386,1288252,2018-09-09 00:00:00.000,XR Chest PA/Lateral
59649,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12269769,583492,2018-10-17 00:00:00.000,CT Chest wo
59650,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12269769,704238,2018-10-17 00:00:00.000,CT Chest wo
59651,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12269769,775072,2018-10-16 00:00:00.000,IOE COM CT CHEST
59652,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12269769,848263,2018-10-16 00:00:00.000,IOE COM XR CHEST
59653,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12269769,1009092,2018-10-16 00:00:00.000,IOE COM CT ANG CHEST
59654,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12269769,1075162,2018-10-16 00:00:00.000,IOE COM CT CHEST
59655,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12269769,1165291,2018-10-16 00:00:00.000,IOE COM CT ANG CHEST
59656,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12269769,1314416,2018-10-14 00:00:00.000,"XR Port Chest, 1 View"
59657,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12269769,1315519,2018-10-14 00:00:00.000,"XR Port Chest, 1 View"
59658,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12269769,1349234,2018-10-16 00:00:00.000,IOE COM XR CHEST
59659,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12345049,65973,2018-11-15 00:00:00.000,XR Chest PA/Lateral
59660,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12345049,561872,2018-11-16 00:00:00.000,CT Chest wo
59661,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12345049,985122,2018-11-15 00:00:00.000,XR Chest PA/Lateral
59662,2959602,64.0,M,Black/African-American,Not Hispanic or Latino,2018-12-08 00:00:00.000,12345049,1002284,2018-11-16 00:00:00.000,CT Chest wo

Looks good now. Full run. Comment out the suffix.

In [82]:
list_[4].iloc[0:5,:]

,patient_id,encounter_id_dx_info,dx_1_dx_info,dx_desc_1_dx_info,dx1_rank_dx_info,dx_2_dx_info,dx_desc_2_dx_info,dx2_rank_dx_info,dx_3_dx_info,dx_desc_3_dx_info,...,dx83_rank_dx_info,dx_84_dx_info,dx_desc_84_dx_info,dx84_rank_dx_info,dx_85_dx_info,dx_desc_85_dx_info,dx85_rank_dx_info,dx_86_dx_info,dx_desc_86_dx_info,dx86_rank_dx_info
3,114,9494644,J849,"INTERSTITIAL PULMONARY DISEASE, UNSPECIFIED",1.0,J849,"INTERSTITIAL PULMONARY DISEASE, UNSPECIFIED",2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,114,6747726,786.50,UNSPECIFIED CHEST PAIN,1.0,793.19,OTHER NONSPECIFIC ABNORMAL FINDING OF LUNG FIELD,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,114,5066736,786.2,COUGH,1.0,305.1,NONDEPENDENT TOBACCO USE DISORDER,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,672,9011341,R0602,SHORTNESS OF BREATH,1.0,R079,"CHEST PAIN, UNSPECIFIED",2.0,J449,CHRONIC OBSTRUCTIVE PULMONARY DISEASE USP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,114,9495002,J849,"INTERSTITIAL PULMONARY DISEASE, UNSPECIFIED",1.0,J9601,ACUTE RESPIRATORY FAILURE WITH HYPOXIA,2.0,J189,"PNEUMONIA, UNSPECIFIED ORGANISM",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
list_

[      patient_id  age_at_last_encounter_patient gender_patient  \
 0            114                           66.0              F
 1            431                           88.0              F
 2            672                           80.0              M
 3           1408                           84.0              F
 4           1549                           80.0              F
 5           1627                           88.0              M
 6           2068                           72.0              F
 7           2276                           76.0              F
 8           2285                           74.0              M
 9           3727                           57.0              F
 10          4612                           82.0              M
 11          4662                           78.0              F
 12          4706                           83.0              F
 13          5797                           56.0              F
 14          6521                           69.0              M
 15          6588                           85.0              M
 16          6911                           74.0              F
 17          7511                           56.0              F
 18          7578                           73.0              M
 19          7708                           61.0              M
 20          7718                           76.0              F
 21          7840                           90.0              F
 22          8306                           87.0              F
 23          8347                           79.0              F
 24          8723                           68.0              F
 25          9482                           79.0              F
 26         10167                           86.0              F
 27         10880                           63.0              F
 28         11485                           82.0              M
 29         11625                           47.0              F
 ...          ...                            ...            ...
 2213     2520175                           75.0              M
 2214     2520325                           83.0              M
 2215     2529882                           78.0              M
 2216     2559644                           47.0              M
 2217     2569715                           74.0              F
 2218     2569806                           50.0              F
 2219     2580003                           61.0              F
 2220     2589797                           40.0              M
 2221     2599677                           72.0              F
 2222     2609629                           58.0              F
 2223     2610597                           69.0              F
 2224     2620804                           80.0              F
 2225     2629684                           64.0              M
 2226     2629713                           72.0              M
 2227     2629846                           70.0              M
 2228     2640111                           67.0              M
 2229     2640819                           81.0              F
 2230     2659902                           63.0              M
 2231     2669493                           46.0              F
 2232     2670537                           45.0              M
 2233     2690083                           64.0              M
 2234     2690614                           67.0              F
 2235     2710496                           78.0              F
 2236     2710878                           60.0              M
 2237     2720035                           66.0              F
 2238     2739777                           67.0              M
 2239     2740460                           40.0              M
 2240     2779581                           74.0              M
 2241     2849686                           56.0              M
 2242     2959602                           64.0              M

                 race_patient       ethnicity_patient  date_of_death_d_patient
 0                      White  Not Hispanic or Latino                      NaN
 1     Black/African-American  Not Hispanic or Latino                      NaN
 2       Asian/Mideast Indian  Not Hispanic or Latino                      NaN
 3     Black/African-American  Not Hispanic or Latino                      NaN
 4     Black/African-American  Not Hispanic or Latino                      NaN
 5     Black/African-American  Not Hispanic or Latino                      NaN
 6                      White  Not Hispanic or Latino                      NaN
 7     Black/African-American  Not Hispanic or Latino                      NaN
 8                      White  Not Hispanic or Latino                      NaN
 9     Black/African-American  Not Hispanic or Latino  2014-05-04 00:00:00.000
 10    Black/African-American  Not Hispanic or Latino  2017-03-07 00:00:00.000
 11    Black/African-American  Not Hispanic or Latino                      NaN
 12    Black/African-American  Not Hispanic or Latino                      NaN
 13    Black/African-American  Not Hispanic or Latino                      NaN
 14    Black/African-American  Not Hispanic or Latino                      NaN
 15    Black/African-American  Not Hispanic or Latino                      NaN
 16    Black/African-American  Not Hispanic or Latino                      NaN
 17    Black/African-American  Not Hispanic or Latino  2014-07-01 00:00:00.000
 18    Black/African-American  Not Hispanic or Latino                      NaN
 19    Black/African-American  Not Hispanic or Latino                      NaN
 20    Black/African-American  Not Hispanic or Latino                      NaN
 21    Black/African-American  Not Hispanic or Latino                      NaN
 22    Black/African-American  Not Hispanic or Latino                      NaN
 23                     White  Not Hispanic or Latino                      NaN
 24    Black/African-American  Not Hispanic or Latino                      NaN
 25    Black/African-American        Patient Declined                      NaN
 26    Black/African-American  Not Hispanic or Latino  2015-03-15 00:00:00.000
 27    Black/African-American  Not Hispanic or Latino                      NaN
 28    Black/African-American  Not Hispanic or Latino                      NaN
 29    Black/African-American  Not Hispanic or Latino                      NaN
 ...                      ...                     ...                      ...
 2213                   White  Not Hispanic or Latino                      NaN
 2214                   White  Not Hispanic or Latino                      NaN
 2215                   White  Not Hispanic or Latino                      NaN
 2216  Black/African-American  Not Hispanic or Latino                      NaN
 2217                   White  Not Hispanic or Latino                      NaN
 2218                   White  Not Hispanic or Latino                      NaN
 2219  Black/African-American  Not Hispanic or Latino                      NaN
 2220  Black/African-American  Not Hispanic or Latino                      NaN
 2221  Black/African-American  Not Hispanic or Latino                      NaN
 2222  Black/African-American  Not Hispanic or Latino                      NaN
 2223                   White  Not Hispanic or Latino                      NaN
 2224        Patient Declined      Hispanic or Latino                      NaN
 2225                   White  Not Hispanic or Latino                      NaN
 2226                   White  Not Hispanic or Latino                      NaN
 2227                   White  Not Hispanic or Latino                      NaN
 2228                   White  Not Hispanic or Latino                      NaN
 2229                   White  Not Hispanic or Latino                      NaN
 2230  Black/African-American  Not Hispanic or Latino                      NaN
 2231                   White  Not Hispanic or Latino                      NaN
 2232                   White  Not Hispanic or Latino                      NaN
 2233                   White  Not Hispanic or Latino                      NaN
 2234  Black/African-American  Not Hispanic or Latino                      NaN
 2235                   White  Not Hispanic or Latino                      NaN
 2236                   White  Not Hispanic or Latino                      NaN
 2237    Asian/Mideast Indian  Not Hispanic or Latino                      NaN
 2238    Asian/Mideast Indian  Not Hispanic or Latino                      NaN
 2239                   White  Not Hispanic or Latino                      NaN
 2240                   White  Not Hispanic or Latino                      NaN
 2241  Black/African-American  Not Hispanic or Latino                      NaN
 2242  Black/African-American  Not Hispanic or Latino  2018-12-08 00:00:00.000

 [2243 rows x 6 columns],
         patient_id  encounter_id_encounter enc_eio_encounter  \
 42             114                 4645531                 O
 43             114                 5066736                 O
 44             114                 5097355                 O
 45             114                 6214618                 O
 46             114                 6221749                 O
 47             114                 6265020                 O
 48             114                 6747726                 O
 49             114                 7160379                 O
 50             114                 8413485                 O
 51             114                 9235183                 O
 52             114                 9494644                 O
 53             114                 9495002                 I
 54             114                 9640850                 O
 55             114                12338862                 O
 56             114                12384448                 O
 57             114                12519104                 E
 118            431                 4857516                 O
 119            431                 4924316                 O
 120            431                 5208755                 O
 121            431                 5653941                 O
 122            431                 6359433                 O
 123            431                 6648693                 O
 124            431                 6739615                 O
 125            431                 6795214                 O
 126            431                 8017392                 O
 127            431                11271105                 O
 161            672                 4660036                 E
 162            672                 4901641                 I
 163            672                 6124643                 O
 164            672                 6346776              I, O
 ...            ...                     ...               ...
 394015     2629846                11445422                 O
 394016     2629846                11659159                 O
 394225     2640111                11881988                 I
 394226     2640111                11901270                 O
 394227     2640111                12028590                 O
 394228     2640111                12048336                 O
 394229     2640111                12240675                 O
 394230     2640111                12301314                 O
 394231     2640111                12302725                 O
 394232     2640111                12409757                 I
 394271     2640819                12483346                 O
 394272     2640819                12582675                 O
 394464     2659902                11454067                 O
 394577     2669493                11325835                 O
 394661     2670537                12294315                 O
 394915     2690083                11852588                 O
 394944     2690614                12099808                 O
 394945     2690614                12131598                 I
 395222     2710496                12442881                 I
 395254     2710878                12312501                 O
 395341     2720035                11692498                 O
 395572     2739777                11509212                 O
 395661     2740460                11657247                 I
 395662     2740460                12529024                 O
 395663     2740460                12584673                 I
 395772     2779581                12521405                 O
 395773     2779581                12580704                 O
 395953     2849686                12234386                 O
 396199     2959602                12269769                 I
 396200     2959602                12345049                 I

        visit_status_1_encounter visit_status_2_encounter  \
 42                    Completed                 Canceled
 43                    Completed                      NaN
 44                    Completed                      NaN
 45                    Completed                 Canceled
 46                    Completed                      NaN
 47                    Completed                      NaN
 48                    Completed                 Canceled
 49                    Completed                      NaN
 50                    Completed                 Canceled
 51                    Completed                      NaN
 52                    Completed                 Canceled
 53                      No Show                Completed
 54                    Completed                 Canceled
 55                    Completed                      NaN
 56                    Completed                 Canceled
 57                    Completed                      NaN
 118                   Completed                      NaN
 119                   Completed                      NaN
 120                   Completed                 Canceled
 121                   Completed                      NaN
 122                   Completed                      NaN
 123                   Completed                      NaN
 124                   Completed                      NaN
 125                   Completed                 Canceled
 126                   Completed                      NaN
 127                   Completed                      NaN
 161                   Completed                      NaN
 162                   Completed                      NaN
 163                   Completed                      NaN
 164                   Completed                      NaN
 ...                         ...                      ...
 394015                Completed                      NaN
 394016                Completed                      NaN
 394225                Completed                 Canceled
 394226                Completed                      NaN
 394227                  No Show                Completed
 394228                Completed                      NaN
 394229                Completed                      NaN
 394230                Completed                      NaN
 394231                Completed                      NaN
 394232                  No Show                Completed
 394271                Completed                      NaN
 394272                Completed                      NaN
 394464                  No Show                Completed
 394577                Completed                 Canceled
 394661                Completed                      NaN
 394915                Completed                      NaN
 394944                Completed                      NaN
 394945                  No Show                Completed
 395222                Completed                      NaN
 395254                Completed                      NaN
 395341                Completed                      NaN
 395572                  No Show                Completed
 395661                Completed                 Canceled
 395662                Completed                      NaN
 395663                  No Show                Completed
 395772                Completed                      NaN
 395773                Completed                      NaN
 395953                  No Show                Completed
 396199                Completed                 Canceled
 396200                  No Show                Completed

        visit_status_3_encounter visit_status_4_encounter  \
 42                          NaN                      NaN
 43                          NaN                      NaN
 44                          NaN                      NaN
 45                          NaN                      NaN
 46                          NaN                      NaN
 47                          NaN                      NaN
 48                          NaN                      NaN
 49                          NaN                      NaN
 50                          NaN                      NaN
 51                          NaN                      NaN
 52                          NaN                      NaN
 53                     Canceled                      NaN
 54                          NaN                      NaN
 55                          NaN                      NaN
 56                          NaN                      NaN
 57                          NaN                      NaN
 118                         NaN                      NaN
 119                         NaN                      NaN
 120                         NaN                      NaN
 121                         NaN                      NaN
 122                         NaN                      NaN
 123                         NaN                      NaN
 124                         NaN                      NaN
 125                         NaN                      NaN
 126                         NaN                      NaN
 127                         NaN                      NaN
 161                         NaN                      NaN
 162                         NaN                      NaN
 163                         NaN                      NaN
 164                         NaN                      NaN
 ...                         ...                      ...
 394015                      NaN                      NaN
 394016                      NaN                      NaN
 394225                      NaN                      NaN
 394226                      NaN                      NaN
 394227                 Canceled                      NaN
 394228                      NaN                      NaN
 394229                      NaN                      NaN
 394230                      NaN                      NaN
 394231                      NaN                      NaN
 394232                      NaN                      NaN
 394271                      NaN                      NaN
 394272                      NaN                      NaN
 394464                      NaN                      NaN
 394577                      NaN                      NaN
 394661                      NaN                      NaN
 394915                      NaN                      NaN
 394944                      NaN                      NaN
 394945                 Canceled                      NaN
 395222                      NaN                      NaN
 395254                      NaN                      NaN
 395341                      NaN                      NaN
 395572                      NaN                      NaN
 395661                      NaN                      NaN
 395662                      NaN                      NaN
 395663                      NaN                      NaN
 395772                      NaN                      NaN
 395773                      NaN                      NaN
 395953                      NaN                      NaN
 396199                      NaN                      NaN
 396200                 Canceled                      NaN


In [248]:
# memory errors still. merge the first part, return as object, try merge that way?

frame = pd.DataFrame()
list_ = []

def get_list(listoffiles,like,patientids):
    for f in listoffiles:
        if f.find(like) == -1:
            print("skipped:",f)
        else:
            print("added to list_",f)
            df = pd.read_csv(f,index_col=None, header=0,sep="|")
            df.columns = [x.lower() for x in df.columns]
#             df = df[df['patient_id'].isin(patientlist)].dropna(axis='columns',how='all')
            list_.append(df)
    suffix = ('_patient', '_encounter','_dx_info','radiology')
    for i in range(0,len(list_)):
        print("iteration number",i)
        print("suffix : ",suffix[i])
        if i == 0:
            tmp1 = pd.DataFrame(list_[i].iloc[:,0])
            list_[i] = list_[i].iloc[:,1:].add_suffix(suffix[i])
            list_[i] = pd.concat((tmp1,(list_[i])),axis=1)
            print("dimensions : ", list_[i].shape)
        else:
            tmp1 = pd.DataFrame(list_[i].iloc[:,0:2])
            list_[i] = list_[i].iloc[:,2:].add_suffix(suffix[i])
            list_[i] = pd.concat((tmp1,(list_[i])),axis=1)
            print("dimensions : ", list_[i].shape)

In [249]:
# ORDER NOW MATTERS
onlyfiles3editshort = list( onlyfiles2edit[i] for i in [0,1,4,5] )
onlyfiles3editshort

['Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1_MOVEDFROMCOHORT2.csv',
 'Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/10_DX_INFO_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/12_COHORT_2_RADIOLOGY.csv']

# Chunked up function into two sections. First for list creation. Second for the merge so I don't have to keep doing it.

I think the issue is actually that of encounter. It's joining so many rows because it should be patient_id and encounter id concat in the joins.

Should resolve...

In [250]:
list_ = []

get_list(onlyfiles3editshort,"COHORT",patientlist)

added to list_ Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1_MOVEDFROMCOHORT2.csv
added to list_ Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2856: DtypeWarning: Columns (6,13,16) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

added to list_ Z:/FINAL OUTPUT v2/10_DX_INFO_COHORT_2.csv

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2856: DtypeWarning: Columns (98,110,113,116,117,119,120,122,123,125,126,128,129,131,132,134,135,137,138,140,141,143,144,146,147,149,150,152,153,155,156,158,159,161,162,164,165,167,168,170,171,173,174,176,177,179,180,182,183,185,186,188,189,191,192,194,195,197,198,200,201,203,204,206,207,209,210,212,213,215,216,218,219,221,222,224,225,227,228,230,231,233,234,236,237,239,240,242,243,245,246,248,249,251,252,254,255,257,258) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

added to list_ Z:/FINAL OUTPUT v2/12_COHORT_2_RADIOLOGY.csv
iteration number 0
suffix :  _patient
dimensions :  (2243, 6)
iteration number 1
suffix :  _encounter
dimensions :  (396632, 19)
iteration number 2
suffix :  _dx_info
dimensions :  (396632, 260)
iteration number 3
suffix :  radiology
dimensions :  (1275948, 5)

In [265]:
def merge_lists(data):
    for i in range(0,len(list_)):
        print(i)
        if i == 1:
            print("merging first list slice: ", i) 
            print(data[i].iloc[0:1,:])
            df1 = data[0]
            df2 = data[i]
            holdingdf = pd.merge(df1, df2, how='left', on=['patient_id'])
        if i > 1:
            print("merging next list slice: ", i)
            print(data[i].iloc[0:1,:])
            df1 = holdingdf
            df2 = data[i]
            holdingdf = pd.merge(df1, df2, how='left', on=['patient_id','encounter_id'])
    return(holdingdf)

# KC NOTE SOME issues still popping up. Should not expect  10m rows but instead only max of 50k, unless it's non unique.

In [252]:
holdingdf = pd.DataFrame()
cohort1_dta_part2 = merge_lists(list_)

0
1
merging first list slice:  1
   patient_id  encounter_id enc_eio_encounter visit_status_1_encounter  \
0          49       4860489                 O                Completed

  visit_status_2_encounter visit_status_3_encounter visit_status_4_encounter  \
0                      NaN                      NaN                      NaN

      adm_date_d_encounter    disc_date_d_encounter   start_date_d_encounter  \
0  2012-07-17 00:00:00.000  2012-07-17 00:00:00.000  2012-07-17 00:00:00.000

      end_date_d_encounter     admit_source_1_encounter  \
0  2012-07-17 00:00:00.000  Clinic or Physicians Office

  admit_source_2_encounter admit_source_3_encounter disch_disp_1_encounter  \
0                      NaN                      NaN                    NaN

  disch_disp_2_encounter disch_disp_3_encounter  zip_d_encounter  \
0                    NaN                    NaN           113043

  enc_fin_class_encounter
0                Medicare
2
merging next list slice:  2
   patient_id  encounter_id dx_1_dx_info dx_desc_1_dx_info  dx1_rank_dx_info  \
0          49       4860489        786.2             COUGH               1.0

  dx_2_dx_info   dx_desc_2_dx_info  dx2_rank_dx_info dx_3_dx_info  \
0       493.90  ASTHMA UNSPECIFIED               2.0          496

                                   dx_desc_3_dx_info        ...          \
0  CHRONIC AIRWAY OBSTRUCTION NOT ELSEWHERE CLASS...        ...

   dx83_rank_dx_info dx_84_dx_info dx_desc_84_dx_info  dx84_rank_dx_info  \
0                NaN           NaN                NaN                NaN

  dx_85_dx_info dx_desc_85_dx_info  dx85_rank_dx_info dx_86_dx_info  \
0           NaN                NaN                NaN           NaN

  dx_desc_86_dx_info  dx86_rank_dx_info
0                NaN                NaN

[1 rows x 260 columns]
3
merging next list slice:  3
   patient_id  encounter_id  order_proc_id_deidradiology  \
0      155043        155164                       393037

  ordering_date_offradiology       exam_typeradiology
0    2013-04-26 00:00:00.000  CT Upper Abd & Pelvis w

In [253]:
cohort1_dta_part2[cohort1_dta_part2['patient_id']==114]

,patient_id,age_at_last_encounter_patient,gender_patient,race_patient,ethnicity_patient,date_of_death_d_patient,encounter_id,enc_eio_encounter,visit_status_1_encounter,visit_status_2_encounter,...,dx84_rank_dx_info,dx_85_dx_info,dx_desc_85_dx_info,dx85_rank_dx_info,dx_86_dx_info,dx_desc_86_dx_info,dx86_rank_dx_info,order_proc_id_deidradiology,ordering_date_offradiology,exam_typeradiology
0,114,66.0,F,White,Not Hispanic or Latino,NaN,4645531,O,Completed,Canceled,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,856883.0,2013-08-22 00:00:00.000,XR Chest PA/Lateral
1,114,66.0,F,White,Not Hispanic or Latino,NaN,5066736,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,685083.0,2013-08-22 00:00:00.000,XR Chest PA/Lateral
2,114,66.0,F,White,Not Hispanic or Latino,NaN,5066736,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,719735.0,2013-08-22 00:00:00.000,XR Chest PA/Lateral
3,114,66.0,F,White,Not Hispanic or Latino,NaN,5097355,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,973439.0,2014-01-11 00:00:00.000,XR Chest PA/Lateral
4,114,66.0,F,White,Not Hispanic or Latino,NaN,6214618,O,Completed,Canceled,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,852596.0,2014-06-22 00:00:00.000,CT Chest wo
5,114,66.0,F,White,Not Hispanic or Latino,NaN,6221749,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,691513.0,2014-12-06 00:00:00.000,XR Chest PA/Lateral
6,114,66.0,F,White,Not Hispanic or Latino,NaN,6221749,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,993450.0,2014-12-06 00:00:00.000,XR Chest PA/Lateral
7,114,66.0,F,White,Not Hispanic or Latino,NaN,6265020,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,597997.0,2014-01-11 00:00:00.000,XR Chest PA/Lateral
8,114,66.0,F,White,Not Hispanic or Latino,NaN,6265020,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1028470.0,2014-01-11 00:00:00.000,XR Chest PA/Lateral
9,114,66.0,F,White,Not Hispanic or Latino,NaN,6747726,O,Completed,Canceled,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,884699.0,2014-06-28 00:00:00.000,CT Chest wo
10,114,66.0,F,White,Not Hispanic or Latino,NaN,6747726,O,Completed,Canceled,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1280256.0,2014-06-28 00:00:00.000,CT Chest wo
11,114,66.0,F,White,Not Hispanic or Latino,NaN,7160379,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1363180.0,2014-12-06 00:00:00.000,XR Chest PA/Lateral
12,114,66.0,F,White,Not Hispanic or Latino,NaN,8413485,O,Completed,Canceled,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,351492.0,2016-08-27 00:00:00.000,"CT Angio Upper Extremity wwo, Lt"
13,114,66.0,F,White,Not Hispanic or Latino,NaN,8413485,O,Completed,Canceled,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1445308.0,2016-08-27 00:00:00.000,CT Angio Chest wwo
14,114,66.0,F,White,Not Hispanic or Latino,NaN,9235183,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1066104.0,2017-04-24 00:00:00.000,CT Chest Low Dose Cancer Screening WO
15,114,66.0,F,White,Not Hispanic or Latino,NaN,9494644,O,Completed,Canceled,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,354743.0,2017-09-01 00:00:00.000,CT Chest wo
16,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,518948.0,2017-07-20 00:00:00.000,"XR Portable Chest, 1 View"
17,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,519309.0,2017-07-20 00:00:00.000,"XR Port Chest, 1 View"
18,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,615980.0,2017-07-12 00:00:00.000,"XR Port Chest, 1 View"
19,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,630992.0,2017-06-29 00:00:00.000,CT PE Chest w
20,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,640493.0,2017-07-07 00:00:00.000,"XR Port Chest, 1 View"
21,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,652605.0,2017-07-12 00:00:00.000,"XR Port Chest, 1 View"
22,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,732678.0,2017-07-05 00:00:00.000,"XR Port Chest, 1 View"
23,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,898546.0,2017-07-03 00:00:00.000,"XR Port Chest, 1 View"
24,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,900467.0,2017-06-29 00:00:00.000,CT PE Chest w
25,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,929338.0,2017-07-13 00:00:00.000,CT Chest wo
26,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,945319.0,2017-07-03 00:00:00.000,"XR Port Chest, 1 View"
27,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,981963.0,2017-07-16 00:00:00.000,"XR Port Chest, 1 View"
28,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1009364.0,2017-07-13 00:00:00.000,CT Chest wo
29,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1025343.0,2017-07-20 00:00:00.000,"XR Portable Chest, 1 View"
30,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1026389.0,2017-07-16 00:00:00.000,"XR Port Chest, 1 View"
31,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1031787.0,2017-07-07 00:00:00.000,"XR Port Chest, 1 View"
32,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1095278.0,2017-07-11 00:00:00.000,"XR Port Chest, 1 View"
33,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1107847.0,2017-07-05 00:00:00.000,"XR Port Chest, 1 View"
34,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1144716.0,2017-07-11 00:00:00.000,"XR Port Chest, 1 View"
35,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1228853.0,2017-07-20 00:00:00.000,"XR Port Chest, 1 View"
36,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1349634.0,2017-06-29 00:00:00.000,XR Chest PA/Lateral
37,114,66.0,F,White,Not Hispanic or Latino,NaN,9495002,I,No Show,Completed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1395006.0,2017-06-29 00:00:00.000,XR Chest PA/Lateral
38,114,66.0,F,White,Not Hispanic or Latino,NaN,9640850,O,Completed,Canceled,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,161409.0,2017-09-16 00:00:00.000,CT Chest wo
39,114,66.0,F,White,Not Hispanic or Latino,NaN,9640850,O,Completed,Canceled,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,682672.0,2017-09-16 00:00:00.000,CT Chest wo
40,114,66.0,F,White,Not Hispanic or Latino,NaN,12338862,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,535658.0,2018-09-20 00:00:00.000,XR Chest PA/Lateral
41,114,66.0,F,White,Not Hispanic or Latino,NaN,12384448,O,Completed,Canceled,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,860334.0,2018-11-11 00:00:00.000,CT Chest wo
42,114,66.0,F,White,Not Hispanic or Latino,NaN,12384448,O,Completed,Canceled,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1287776.0,2018-11-11 00:00:00.000,CT Chest wo
43,114,66.0,F,White,Not Hispanic or Latino,NaN,12519104,E,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82700.0,2018-09-27 00:00:00.000,"XR Portable Chest, 1View"
44,114,66.0,F,White,Not Hispanic or Latino,NaN,12519104,E,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,987921.0,2018-09-27 00:00:00.000,"XR Portable Chest, 1View"

In [254]:
cohort1_dta_part2.head()

,patient_id,age_at_last_encounter_patient,gender_patient,race_patient,ethnicity_patient,date_of_death_d_patient,encounter_id,enc_eio_encounter,visit_status_1_encounter,visit_status_2_encounter,...,dx84_rank_dx_info,dx_85_dx_info,dx_desc_85_dx_info,dx85_rank_dx_info,dx_86_dx_info,dx_desc_86_dx_info,dx86_rank_dx_info,order_proc_id_deidradiology,ordering_date_offradiology,exam_typeradiology
0,114,66.0,F,White,Not Hispanic or Latino,NaN,4645531,O,Completed,Canceled,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,856883.0,2013-08-22 00:00:00.000,XR Chest PA/Lateral
1,114,66.0,F,White,Not Hispanic or Latino,NaN,5066736,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,685083.0,2013-08-22 00:00:00.000,XR Chest PA/Lateral
2,114,66.0,F,White,Not Hispanic or Latino,NaN,5066736,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,719735.0,2013-08-22 00:00:00.000,XR Chest PA/Lateral
3,114,66.0,F,White,Not Hispanic or Latino,NaN,5097355,O,Completed,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,973439.0,2014-01-11 00:00:00.000,XR Chest PA/Lateral
4,114,66.0,F,White,Not Hispanic or Latino,NaN,6214618,O,Completed,Canceled,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,852596.0,2014-06-22 00:00:00.000,CT Chest wo

We finally have a merged dataset that should be clean of dupes.

In [255]:
cohort1_dta_part2.to_csv(join(mypath,"merged_movedfromcohort1.csv"),sep="|")

# Now merge for the cohort2 sample group

In [262]:
# ORDER NOW MATTERS
onlyfilessampled = [join(mypath,f) for f in listdir(mypath) if isfile(join(mypath, f))]
onlyfilessampled = list( onlyfilessampled[i] for i in [10,6,14,15] )
onlyfilessampled

['Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_2_NEW.csv',
 'Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/10_DX_INFO_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/12_COHORT_2_RADIOLOGY.csv']

In [272]:
patientlist = np.unique(cohort2sampdf.PATIENT_ID)
patientlist[0:5]

array([ 99, 195, 219, 256, 560], dtype=int64)

In [273]:
# memory errors still. merge the first part, return as object, try merge that way?

frame = pd.DataFrame()
list_ = []

def get_list(listoffiles,like,patientids):
    for f in listoffiles:
        if f.find(like) == -1:
            print("skipped:",f)
        else:
            print("added to list_",f)
            df = pd.read_csv(f,index_col=None, header=0,sep="|")
            df.columns = [x.lower() for x in df.columns]
            df = df[df['patient_id'].isin(patientlist)]
            list_.append(df)
    suffix = ('_patient', '_encounter','_dx_info','radiology')
    for i in range(0,len(list_)):
        print("iteration number",i)
        print("suffix : ",suffix[i])
        if i == 0:
            tmp1 = pd.DataFrame(list_[i].iloc[:,0])
            list_[i] = list_[i].iloc[:,1:].add_suffix(suffix[i])
            list_[i] = pd.concat((tmp1,(list_[i])),axis=1)
            print("dimensions : ", list_[i].shape)
        else:
            tmp1 = pd.DataFrame(list_[i].iloc[:,0:2])
            list_[i] = list_[i].iloc[:,2:].add_suffix(suffix[i])
            list_[i] = pd.concat((tmp1,(list_[i])),axis=1)
            print("dimensions : ", list_[i].shape)

In [274]:
get_list(onlyfilessampled,"COHORT",patientlist)

added to list_ Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_2_NEW.csv
added to list_ Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2856: DtypeWarning: Columns (6,13,16) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

added to list_ Z:/FINAL OUTPUT v2/10_DX_INFO_COHORT_2.csv

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2856: DtypeWarning: Columns (98,110,113,116,117,119,120,122,123,125,126,128,129,131,132,134,135,137,138,140,141,143,144,146,147,149,150,152,153,155,156,158,159,161,162,164,165,167,168,170,171,173,174,176,177,179,180,182,183,185,186,188,189,191,192,194,195,197,198,200,201,203,204,206,207,209,210,212,213,215,216,218,219,221,222,224,225,227,228,230,231,233,234,236,237,239,240,242,243,245,246,248,249,251,252,254,255,257,258) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

added to list_ Z:/FINAL OUTPUT v2/12_COHORT_2_RADIOLOGY.csv
iteration number 0
suffix :  _patient
dimensions :  (30000, 6)
iteration number 1
suffix :  _encounter
dimensions :  (95743, 19)
iteration number 2
suffix :  _dx_info
dimensions :  (95743, 260)
iteration number 3
suffix :  radiology
dimensions :  (307208, 5)

In [276]:
holdingdf = pd.DataFrame()
cohort2dta = merge_lists(list_)

0
1
merging first list slice:  1
    patient_id  encounter_id enc_eio_encounter visit_status_1_encounter  \
21          99       5169683                 O                Completed

   visit_status_2_encounter visit_status_3_encounter visit_status_4_encounter  \
21                      NaN                      NaN                      NaN

       adm_date_d_encounter    disc_date_d_encounter   start_date_d_encounter  \
21  2013-04-06 00:00:00.000  2013-04-06 00:00:00.000  2013-04-06 00:00:00.000

       end_date_d_encounter     admit_source_1_encounter  \
21  2013-04-06 00:00:00.000  Clinic or Physicians Office

   admit_source_2_encounter admit_source_3_encounter disch_disp_1_encounter  \
21                      NaN                      NaN                    NaN

   disch_disp_2_encounter disch_disp_3_encounter  zip_d_encounter  \
21                    NaN                    NaN           149109

     enc_fin_class_encounter
21  Blue Cross / Blue Shield
2
merging next list slice:  2
   patient_id  encounter_id dx_1_dx_info  \
2          99       5169683        162.3

                                   dx_desc_1_dx_info  dx1_rank_dx_info  \
2  MALIGNANT NEOPLASM OF UPPER LOBE BRONCHUS OR LUNG               1.0

  dx_2_dx_info                                 dx_desc_2_dx_info  \
2       793.19  OTHER NONSPECIFIC ABNORMAL FINDING OF LUNG FIELD

   dx2_rank_dx_info dx_3_dx_info dx_desc_3_dx_info        ...          \
2               2.0          NaN               NaN        ...

   dx83_rank_dx_info dx_84_dx_info dx_desc_84_dx_info  dx84_rank_dx_info  \
2                NaN           NaN                NaN                NaN

  dx_85_dx_info dx_desc_85_dx_info  dx85_rank_dx_info dx_86_dx_info  \
2           NaN                NaN                NaN           NaN

  dx_desc_86_dx_info  dx86_rank_dx_info
2                NaN                NaN

[1 rows x 260 columns]
3
merging next list slice:  3
    patient_id  encounter_id  order_proc_id_deidradiology  \
10     1681824       3599599                       727666

   ordering_date_offradiology   exam_typeradiology
10    2012-12-29 00:00:00.000  XR Chest PA/Lateral

In [277]:
cohort2dta.head()

,patient_id,age_at_last_encounter_patient,gender_patient,race_patient,ethnicity_patient,date_of_death_d_patient,encounter_id,enc_eio_encounter,visit_status_1_encounter,visit_status_2_encounter,...,dx84_rank_dx_info,dx_85_dx_info,dx_desc_85_dx_info,dx85_rank_dx_info,dx_86_dx_info,dx_desc_86_dx_info,dx86_rank_dx_info,order_proc_id_deidradiology,ordering_date_offradiology,exam_typeradiology
0,1843306,76.0,F,Black/African-American,Not Hispanic or Latino,2015-02-22 00:00:00.000,7872100,I,Completed,Canceled,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,296814.0,2013-10-11 00:00:00.000,"XR Port Chest, 1 View"
1,1843306,76.0,F,Black/African-American,Not Hispanic or Latino,2015-02-22 00:00:00.000,7872100,I,Completed,Canceled,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,315456.0,2013-10-11 00:00:00.000,CT Head wo
2,1843306,76.0,F,Black/African-American,Not Hispanic or Latino,2015-02-22 00:00:00.000,7872100,I,Completed,Canceled,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,362063.0,2013-10-11 00:00:00.000,CT Neck Soft Tissue wo
3,1843306,76.0,F,Black/African-American,Not Hispanic or Latino,2015-02-22 00:00:00.000,7872100,I,Completed,Canceled,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,395686.0,2013-10-11 00:00:00.000,CT Head wo
4,1843306,76.0,F,Black/African-American,Not Hispanic or Latino,2015-02-22 00:00:00.000,7872100,I,Completed,Canceled,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,493692.0,2013-10-11 00:00:00.000,"CT Chest, Abdomen, Pelvis wo"

In [ ]:
cohort2dta.to_csv(join(mypath,"merged_cohort2_sampled.csv"),sep="|")

### Replace _list with the new filename

We do this so we sample jsut the 10k we pulled out rather than the full datset.

In [247]:
onlyfiles_sorted[1] = join(mypath,"01_PATIENT_COHORT_2_NEW.csv")
onlyfiles_sorted[1]

'Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_2_NEW.csv'

In [373]:
onlyfiles_sorted[0:4]

['Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/02_PATIENT_COHORT_2.csv',
 'Z:/FINAL OUTPUT v2/03_ENCOUNTER_COHORT_1.csv',
 'Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv']

In [252]:
cohort2_dta = readin(onlyfiles_sorted[0:4],"COHORT_2")

skipped: Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_1.csv
processed Z:/FINAL OUTPUT v2/01_PATIENT_COHORT_2_NEW.csv
skipped: Z:/FINAL OUTPUT v2/03_ENCOUNTER_COHORT_1.csv
processed Z:/FINAL OUTPUT v2/04_ENCOUNTER_COHORT_2.csv

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2850: DtypeWarning: Columns (6,13,16) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

KeyboardInterrupt:

In [180]:
cohort2_dta.shape

(5695268, 335)

In [181]:
cohort2_dta.head()

,abstinence_yn,adm_date_d,admit_source_1,admit_source_2,admit_source_3,admitting_prov_id,admitting_provider_department,age_at_last_encounter,alcohol_oz_per_wk,alcohol_src_c,...,tobacco_pak_per_dy,tobacco_used_years,tobacco_user,unknown_fam_hx_yn,visit_status_1,visit_status_2,visit_status_3,visit_status_4,years_education,zip_d
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Write csvs

In [182]:
cohort1_dta.to_csv(join(mypath,"merged_cohort1.csv"),sep="|")
cohort2_dta.to_csv(join(mypath,"merged_cohort2.csv"),sep="|")

# Joining to rad notes  

Note the links will be messy until we get clarification.

Second string is "encounter_id"

In [259]:
# extract encounter_id from notes
mypathnotes = "Z:/FINAL OUTPUT v2/NOTES/"
onlyfilesnotes = [join(mypathnotes,f) for f in listdir(mypathnotes) if isfile(join(mypathnotes, f))]
onlyfilesnotes_sorted = sorted(onlyfilesnotes, key=lambda x:(x!="cohort", x))

# cohort 1
notes1 = pd.read_csv(onlyfilesnotes_sorted[0],index_col=None, header=0,sep=",")
notes1.columns = [x.lower() for x in notes1.columns]

# cohort 2
# notes2 = pd.read_csv(onlyfilesnotes_sorted[0],index_col=None, header=0,sep="|")
# notes1.columns = [x.lower() for x in df.columns]

In [260]:
notes1.head()

,unnamed: 0,scantype,scandate,clininfo,technique,comparison,findings,impressions,elecsig,patient,rawtext
0,0,"XR CHEST PA/LATERAL,",2015-06-22**]> 8:24 AM,**NAME<HHH> **AGE<in 50s> years old. Reason: s...,XR CHEST PA/LATERAL,**DATE<[**2015-06-14**]> and previous.,Status post right lung biopsies. No significan...,No significant abnormality following multiple ...,**DATE<[**2015-06-22**]> 10:06 AM **NAME<III J...,5253312_70864302,"XR CHEST PA/LATERAL, **DATE<[**2015-06-22**]> ..."
1,1,CT CHEST W,2015-02-06**]> 12:25 PM,**AGE<in 60s>-year-old male with eye on the,Contrast enhanced chest CT. 120 mL of Omnipaq...,Outside CXR dated **DATE<[**2015-01-11**]>,LUNGS AND PLEURA: Mild subpleural reticulation...,Mild subpleural interstitial fibrosis of undet...,**DATE<[**2015-02-06**]> 2:26 PM **NAME<CCC DD...,5049178_68355312,CT CHEST W **DATE<[**2015-02-06**]> 12:25 PM\...
2,2,"XR CHEST PA/LATERAL,",2015-05-23**]> 10:08 AM,**NAME<FFF> **AGE<in 60s> years old. One month...,XR CHEST PA/LATERAL,**DATE<[**2015-05-02**]>.,Elevation of the left hemidiaphragm unchanged....,Severe interstitial abnormality without visibl...,**DATE<[**2015-05-23**]> 10:42 AM [**Doctor Fi...,5861184_69548263,"XR CHEST PA/LATERAL, **DATE<[**2015-05-23**]> ..."
3,3,"XR CHEST PA/LATERAL,",2015-06-24**]> 12:40 PM,"**NAME<DDD> **AGE<in 50s> years old. Dyspnea, ...",XR CHEST PA/LATERAL,**DATE<[**2014-09-03**]> and previous,Diffuse fine reticular opacities throughout bo...,Diffuse groundglass opacities consistent with ...,**DATE<[**2015-06-24**]> 2:22 PM **NAME<EEE FF...,5630079_69208276,"XR CHEST PA/LATERAL, **DATE<[**2015-06-24**]> ..."
4,4,These outside images were loaded for compariso...,NaN,NaN,NaN,NaN,NaN,NaN,**DATE<[**2018-04-03**]> 8:07 AM Canned Report,8425699_110461983,These outside images were loaded for compariso...

In [264]:
# split 1
notes1[['patient1','patient2']] = notes1['patient'].str.split('_',expand=True)

# split2
# notes2[['patient1','patient2']] = notes2['patient'].str.split('_',expand=True)

In [385]:
notes1_patient = notes1.patient
notes1_patient.to_csv(join(mypath,"/notes_radiology_edited.csv"),sep="|")

### Now join notes for cohort1

In [ ]:
cohort1_dta_notes = pd.merge(cohort1_dta, notes1, on = 'patient_id',how="left")

In [375]:
cohort1_dta[['patient_id','encounter_id_radiology']]

      patient_id  encounter_id_radiology
0          32124                     NaN
1          32124                     NaN
2          32124                     NaN
3          32124                     NaN
4          74912                     NaN
5          74912                     NaN
6          74912                     NaN
7          74912                     NaN
8          74912                     NaN
9          74912                     NaN
10         74912                     NaN
11         81545                     NaN
12         81545                     NaN
13         81545                     NaN
14         93110                     NaN
15         93110                     NaN
16         93110                     NaN
17         93110                     NaN
18        118647                     NaN
19        118647                     NaN
20        118647                     NaN
21        122487                     NaN
22        122522                     NaN
23        122522                     NaN
24        122522                     NaN
25        122522                     NaN
26        136921                     NaN
27        136921                     NaN
28        136921                     NaN
29        136921                     NaN
...          ...                     ...
83847    2047068                     NaN
83848    2047068                     NaN
83849    2047068                     NaN
83850    2047068                     NaN
83851    2122393                     NaN
83852    2122393                     NaN
83853    2122393                     NaN
83854    2122393                     NaN
83855    2122393                     NaN
83856    2122393                     NaN
83857    2122393                     NaN
83858    2122393                     NaN
83859    2122393                     NaN
83860    2122393                     NaN
83861    2122393                     NaN
83862    2122393                     NaN
83863    2122393                     NaN
83864    2122393                     NaN
83865    2122393                     NaN
83866    2122393                     NaN
83867    2122393                     NaN
83868    2122393                     NaN
83869    2122393                     NaN
83870    2122393                     NaN
83871    2122393                     NaN
83872    2122393                     NaN
83873    2122393                     NaN
83874    2122393                     NaN
83875    2122393                     NaN
83876    2122393                     NaN

[83877 rows x 2 columns]

In [376]:
cohort1_dta[cohort1_dta.encounter_id_radiology.notnull()]

Empty DataFrame
Columns: [patient_id, age_at_last_encounter_patient, gender_patient, race_patient, ethnicity_patient, date_of_death_d_patient, encounter_id_encounter, enc_eio_encounter, visit_status_1_encounter, visit_status_2_encounter, visit_status_3_encounter, visit_status_4_encounter, adm_date_d_encounter, disc_date_d_encounter, start_date_d_encounter, end_date_d_encounter, admit_source_1_encounter, admit_source_2_encounter, admit_source_3_encounter, disch_disp_1_encounter, disch_disp_2_encounter, disch_disp_3_encounter, zip_d_encounter, enc_fin_class_encounter, encounter_id_encounter_provider, admitting_prov_id_encounter_provider, admitting_provider_department_encounter_provider, attnd_prov_id_encounter_provider, attending_department_encounter_provider, referring_prov_id_encounter_provider, referring_department_encounter_provider, contact_date_off_encounter_social, is_tobacco_user_encounter_social, tobacco_pak_per_dy_encounter_social, tobacco_used_years_encounter_social, tobacco_comment_encounter_social, smoking_quit_date_off_encounter_social, cigarettes_yn_encounter_social, pipes_yn_encounter_social, cigars_yn_encounter_social, snuff_yn_encounter_social, chew_yn_encounter_social, is_alcohol_user_encounter_social, alcohol_oz_per_wk_encounter_social, is_ill_drug_user_encounter_social, iv_drug_user_yn_encounter_social, illicit_drug_freq_encounter_social, is_sexually_actv_encounter_social, female_partner_yn_encounter_social, male_partner_yn_encounter_social, condom_yn_encounter_social, pill_yn_encounter_social, diaphragm_yn_encounter_social, iud_yn_encounter_social, surgical_yn_encounter_social, spermicide_yn_encounter_social, implant_yn_encounter_social, rhythm_yn_encounter_social, injection_yn_encounter_social, sponge_yn_encounter_social, inserts_yn_encounter_social, abstinence_yn_encounter_social, years_education_encounter_social, tob_src_c_encounter_social, alcohol_src_c_encounter_social, sex_src_c_encounter_social, alcohol_use_c_encounter_social, ill_drug_user_c_encounter_social, sexually_active_c_encounter_social, tobacco_user_encounter_social, smokeless_tob_use_c_encounter_social, smokeless_quit_date_off_encounter_social, smoking_tob_use_encounter_social, unknown_fam_hx_yn_encounter_social, smoking_start_date_off_encounter_social, encounter_id_dx_info, dx_1_dx_info, dx_desc_1_dx_info, dx1_rank_dx_info, dx_2_dx_info, dx_desc_2_dx_info, dx2_rank_dx_info, dx_3_dx_info, dx_desc_3_dx_info, dx3_rank_dx_info, dx_4_dx_info, dx_desc_4_dx_info, dx4_rank_dx_info, dx_5_dx_info, dx_desc_5_dx_info, dx5_rank_dx_info, dx_6_dx_info, dx_desc_6_dx_info, dx6_rank_dx_info, dx_7_dx_info, dx_desc_7_dx_info, dx7_rank_dx_info, dx_8_dx_info, dx_desc_8_dx_info, dx8_rank_dx_info, ...]
Index: []

[0 rows x 119 columns]